body {
  background-color: rgb(194, 149, 244);
}

.centertext1{
  display: flex;
  justify-content: center;
  margin-top: 40px;

}
.centertext2{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  color: rgb(0, 0, 0);
  margin-top: 40px;

}

input[type="color"] {
  border: none;
  height: 10vw;
  width: 10vw;
}

.spacer {
  color: azure;
  display: flex;
  justify-content: space-evenly;
}
.form_list{
  margin-top: 40px;
  margin: auto;
  width: 50%;
  border-style: solid;
  border-color: black;
  border-width:1px 20px;
  width: 450px;
}

.button1 {
  padding: 15px 25px;
  font-size: 24px;
  font-family: 'Times New Roman';
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  
}


.button1:hover {background-color: rgb(50, 50, 50)}



.button1:active {
  background-color: rgb(150, 150, 150);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#submit {
  display: flex;
  justify-content: center;
}

#homebutton {
  margin-bottom: 20px;
}