{% extends "base.html" %}

{% block content %}

<div class= "centertext2">
  <h1>Make buggy</h1>
</div>
<div class="form_list">
  <form action="/new" method="post">
    <br>
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" value = "{{ buggy['qty_wheels'] }}" />
    <br>
    <br>
    
    <label for="power_type">Primary motive of power:</label>
    <select name="power_type">
      <option value="petrol" {% if buggy['power_type'] == "petrol" %} selected {% endif %}>petrol</option>
      <option value="fusion" {% if buggy['power_type'] == "fusion" %} selected {% endif %}>fusion</option>
      <option value="steam" {% if buggy['power_type'] == "steam" %} selected {% endif %}>steam</option>
      <option value="bio" {% if buggy['power_type'] == "bio" %} selected {% endif %}>>bio</option>
      <option value="electric" {% if buggy['power_type'] == "electric" %} selected {% endif %}>electric</option>
      <option value="rocket" {% if buggy['power_type'] == "rocket" %} selected {% endif %}>rocket</option>
      <option value="hamster" {% if buggy['power_type'] == "hamster" %} selected {% endif %}>hamster</option>
      <option value="thermo" {% if buggy['power_type'] == "thermo" %} selected {% endif %}>thermo</option>
      <option value="soler" {% if buggy['power_type'] == "soler" %} selected {% endif %}>soler</option>
      <option value="wind" {% if buggy['power_type'] == "wind" %} selected {% endif %}>wind</option>
    </select>
    <br>
    <br>
    
    <label for="power_units">Primary motive power units:</label>
    <input type="range" min="0" max="4" name="power_units" value = "{{ buggy['power_units'] }}"/>
    <br>
    <br>
    
    <label for="aux_power_type">Auxiliary motive power:</label>
    <select name="aux_power_type">
      <option value="petrol" {% if buggy['aux_power_type'] == "petrol" %} selected {% endif %}>petrol</option>
      <option value="fusion" {% if buggy['aux_power_type'] == "fusion" %} selected {% endif %}>fusion</option>
      <option value="steam" {% if buggy['aux_power_type'] == "steam" %} selected {% endif %}>steam</option>
      <option value="bio" {% if buggy['aux_power_type'] == "bio" %} selected {% endif %}>bio</option>
      <option value="electric" {% if buggy['aux_power_type'] == "electric" %} selected {% endif %}>electric</option>
      <option value="rocket" {% if buggy['aux_power_type'] == "rocket" %} selected {% endif %}>rocket</option>
      <option value="hamster" {% if buggy['aux_power_type'] == "hamster" %} selected {% endif %}>hamster</option>
      <option value="thermo" {% if buggy['aux_power_type'] == "thermo" %} selected {% endif %}>thermo</option>
      <option value="soler" {% if buggy['aux_power_type'] == "soler" %} selected {% endif %}>soler</option>
      <option value="wind" {% if buggy['aux_power_type'] == "wind" %} selected {% endif %}>wind</option>
    </select>
    <br>
    <br>
    
    <label for="hamster_booster">Hamster booster:</label>
    <select name= "hamster_booster">
      <option value="yes" {% if buggy['antibiotic'] == "yes" %} selected {% endif %}>yes</option>
      <option value="no" {% if buggy['antibiotic'] == "no" %} selected {% endif %}>no</option>
    </select>
    <br>
    <br>
    
    <label for="flag_color"> Flag's colour:</label>
    <input type="text" name="flag_color" value = "{{ buggy['flag_color'] }}" />
    <br>
    <br>

    <label for="flag_pattern"> Flag's patternns:</label>
    <select name="flag_pattern">
      <option value="plain" {% if buggy['flag_pattern'] == "plain" %} selected {% endif %}>plain</option>
      <option value="vstripe" {% if buggy['flag_pattern'] == "vstripe" %} selected {% endif %}>vstripe</option>
      <option value="hstripe" {% if buggy['flag_pattern'] == "hstripe" %} selected {% endif %}>hstripe</option>
      <option value="dstripe" {% if buggy['flag_pattern'] == "dstripe" %} selected {% endif %}>dstripe</option>
      <option value="checker" {% if buggy['flag_pattern'] == "checker" %} selected {% endif %}>checker</option>
      <option value="spot" {% if buggy['flag_pattern'] == "spot" %} selected {% endif %}>spot</option>
    </select>
    <br>
    <br>

    <label for="flag_color_secondary"> Flag's other colour:</label>
    <input type="color" name="flag_color_secondary" value = "{{ buggy['flag_color_secondary'] }}" />
    <br>
    <br>

    <label for="tyres"> Type of tyres:</label>
    <select name="tyres">
      <option value="knobbly" {% if buggy['tyres'] == "knobbly" %} selected {% endif %}>knobbly</option>
      <option value="slick" {% if buggy['tyres'] == "slick" %} selected {% endif %}>slick</option>
      <option value="steelband" {% if buggy['tyres'] == "steelband" %} selected {% endif %}>steelband</option>
      <option value="reactive" {% if buggy['tyres'] == "reactive" %} selected {% endif %}>reactive</option>
      <option value="maglev" {% if buggy['tyres'] == "meglev" %} selected {% endif %}>maglev</option>
    </select>
    <br>
    <br>

    <label for="qty_tyres">Number of tyres:</label>
    <input type="number" name="qty_tyres" value = "{{ buggy['qty_tyres'] }}"  />
    <br>
    <br>

    <label for="armour"> Armour:</label>
    <select name="armour">
      <option value="none"  {% if buggy['armour'] == "none" %} selected {% endif %}>none</option>
      <option value="wood" {% if buggy['armour'] == "wood" %} selected {% endif %}>wood</option>
      <option value="aluminium" {% if buggy['armour'] == "aluminium" %} selected {% endif %}>aluminium</option>
      <option value="thinsteel" {% if buggy['armour'] == "thinsteel" %} selected {% endif %}>thinsteel</option>
      <option value="thicksteel" {% if buggy['armour'] == "thicksteel" %} selected {% endif %}>thicksteel</option>
      <option value="titanium" {% if buggy['armour'] == "titanium" %} selected {% endif %}>titanium</option>
    </select>
    <br>
    <br>

    <label for="attack"> Offensive capability:</label>
    <select name="attack">
      <option value="none" {% if buggy['attack'] == "none" %} selected {% endif %}>none</option>
      <option value="spike" {% if buggy['attack'] == "spike" %} selected {% endif %}>spike</option>
      <option value="flame" {% if buggy['attack'] == "flame" %} selected {% endif %}>flame</option>
      <option value="charge" {% if buggy['attack'] == "charge" %} selected {% endif %}>charge</option>
      <option value="biohazard" {% if buggy['attack'] == "biohazard" %} selected {% endif %}>biohazard</option>
    </select>
    <br>
    <br>

    <label for="qty_attacks"> Number of attacks:</label>
    <input type="text" name="qty_attacks" value = "{{ buggy['qty_attacks'] }}" />
    <br>
    <br>

    <label for="fireproof"> Fireproof?:</label>
    <select name="fireproof">
      <option value="yes" {% if buggy['antibiotic'] == "yes" %} selected {% endif %}>yes</option>
      <option value="no" {% if buggy['antibiotic'] == "no" %} selected {% endif %}>no</option>
    </select>
    <br>
    <br>

    <label for="insulated"> Insulated?:</label>
    <select name="insulated">
      <option value="yes" {% if buggy['antibiotic'] == "yes" %} selected {% endif %}>yes</option>
      <option value="no" {% if buggy['antibiotic'] == "no" %} selected {% endif %}>no</option>
    </select>
    <br>
    <br>

    <label for="antibiotic"> Antibiotic?:</label>
    <select name="antibiotic">
      <option value="yes" {% if buggy['antibiotic'] == "yes" %} selected {% endif %}>yes</option>
      <option value="no" {% if buggy['antibiotic'] == "no" %} selected {% endif %}>no</option>
    </select>
    <br>
    <br>

    <label for="banging"> Banging sound system?:</label>
    <select name="banging">
      <option value="yes" {% if buggy['antibiotic'] == "yes" %} selected {% endif %}>yes</option>
      <option value="no" {% if buggy['antibiotic'] == "no" %} selected {% endif %}>no</option>
    </select>
    <br>
    <br>

    <label for="algo"> Race computer algorithm:</label>
    <select name="algo">
      <option value="defensive" {% if buggy['algo'] == "defensive" %} selected {% endif %}>defensive</option>
      <option value="steady" {% if buggy['algo'] == "steady" %} selected {% endif %}>steady</option>
      <option value="Offensive" {% if buggy['algo'] == "offensive" %} selected {% endif %}>Offensive</option>
      <option value="titfortat" {% if buggy['algo'] == "titfortat" %} selected {% endif %}>titfortat</option>
      <option value="random" {% if buggy['algo'] == "random" %} selected {% endif %}>random</option>
      <option value="buggy" {% if buggy['algo'] == "buggy" %} selected {% endif %}>buggy</option>
    </select>
    
    <br>
    <br>

    <div id="submit" ><input type="submit" class="button1" ></div>
    <br>
  <br>
  
  </form>
</div>
  <p>
    <br>
    <a href="/" class="button1" id="homebutton">home</a>

  </p>

{% endblock %}
